In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('melb_data.csv')

#### Persiapan Data

In [6]:
pd.set_option('display.max_columns',None)

In [8]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

#### Nomor 1

In [11]:
df.describe()[['Rooms','Distance','Landsize','Price']]

              Rooms      Distance       Landsize         Price
count  13580.000000  13580.000000   13580.000000  1.358000e+04
mean       2.937997     10.137776     558.416127  1.075684e+06
std        0.955748      5.868725    3990.669241  6.393107e+05
min        1.000000      0.000000       0.000000  8.500000e+04
25%        2.000000      6.100000     177.000000  6.500000e+05
50%        3.000000      9.200000     440.000000  9.030000e+05
75%        3.000000     13.000000     651.000000  1.330000e+06
max       10.000000     48.100000  433014.000000  9.000000e+06

### Nomor 2

``a) Berapa jumlah Rooms pada rumah yang harganya paling mahal?``

In [16]:
df[df['Price']==df['Price'].max()][['Rooms']]

       Rooms
12094      3

``b) Berapa rata-rata harga rumah yang jarak ke CBD (variabel Distance) terdekat?``

In [19]:
df[df['Distance']==df['Distance'].min()]['Price'].mean()

671166.6666666666

``c) Berapa rata-rata harga rumah yang luas tanahnya (variabel Landsize) 1 kali standar deviasi di atas rata-rata luas tanah?``

In [23]:
df[(df['Landsize'] < df['Landsize'].mean()+df['Landsize'].std()) & 
   (df['Landsize'] > df['Landsize'].mean()-df['Landsize'].std())]['Price'].mean()

1076766.4975194372

``d) Berapa rentang (range) harga rumah (variabel Price) pada region Southern Metropolitan?``

In [29]:
df[df['Regionname']=='Southern Metropolitan']['Price'].max()-df[df['Regionname']=='Southern Metropolitan']['Price'].min()

7869000.0

### Nomor 3

``a) Hitung dulu Q1, Q2, dan IQR pada kolom Price (harga rumah)``

In [32]:
q1 = df['Price'].quantile(.25)
q3 = df['Price'].quantile(.75)
iqr = q3 - q1
print(f'q1 : {q1}')
print(f'q3 : {q3}')
print(f'iqr : {iqr}')

q1 : 650000.0
q3 : 1330000.0
iqr : 680000.0

``b) Hitung ada berapa nilai outlier pada kolom Price!``

In [46]:
len(df[(df['Price']>(q3+1.5*iqr))|
   (df['Price']<(q1-1.5*iqr))])

612

### Nomor 4

``Lakukan uji asumsi normalitas pada variabel harga rumah (Price) menggunakan:``

``a) Shapiro Wilk Test``

In [47]:
from scipy.stats import shapiro

In [48]:
stat,pval = shapiro(df['Price'])
if pval < 0.05:
    print('Distribusi harga rumah tidak normal')
else:
    print('Distribusi harga rumah normal')

Distribusi harga rumah tidak normal

C:\Users\abdul\anaconda3\lib\site-packages\scipy\stats\morestats.py:1681: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

``b) D'Agostino and Pearson``

In [49]:
from scipy.stats import normaltest

In [50]:
stat,pval = normaltest(df['Price'])
if pval < 0.05:
    print('Distribusi harga rumah tidak normal')
else:
    print('Distribusi harga rumah normal')

Distribusi harga rumah tidak normal

### Nomor 5

``Jika diasumsikan telah memenuhi syarat statistik parametrik, hitung seberapa
kuat korelasi variabel Rooms dengan Price, serta arah korelasinya!
``

In [51]:
import matplotlib.pyplot as plt

In [56]:
df['Rooms'].corr(df['Price'])

0.49663367618652576

### Nomor 6

``a) Dari beberapa Regionname, manakah Regionname yang variabel jumlah
kamarnya (Rooms) memiliki korelasi terkuat dengan variabel harga rumah
(Price)!
``

In [90]:
cor_table = df.groupby('Regionname')['Rooms','Price'].corr().iloc[0::2,-1]
cor_table[cor_table==cor_table.max()]

<ipython-input-90-6758314d2200>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  cor_table = df.groupby('Regionname')['Rooms','Price'].corr().iloc[0::2,-1]

Regionname
Southern Metropolitan  Rooms    0.683744
Name: Price, dtype: float64

### Nomor 7

``Jika diasumsikan tidak memenuhi syarat statistik parametrik, hitung seberapa
kuat korelasi variabel Distance dengan Price, serta arah korelasinya!
``

In [117]:
df['Distance'].corr(df['Price'],method='spearman')

-0.12998984131880323

### Nomor 8

``a) Dari beberapa Regionname manakah Regionname yang variabel jumlah jarak ke CBD
(Distance) paling tidak berkorelasi dengan variabel harga rumah (Price)!
``

In [124]:
cor_table = df.groupby('Regionname')['Distance','Price'].corr().iloc[0::2,-1]
cor_table[cor_table.abs()==cor_table.abs().min()]

<ipython-input-124-8dddc89b979b>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  cor_table = df.groupby('Regionname')['Distance','Price'].corr().iloc[0::2,-1]

Regionname
Southern Metropolitan  Distance    0.002489
Name: Price, dtype: float64

``Serta tampilkan juga Regionname yang paling berkorelasi kedua variabel ini!
``

In [126]:
cor_table[cor_table.abs()==cor_table.abs().max()]

Regionname
Northern Metropolitan  Distance   -0.368552
Name: Price, dtype: float64

### Nomor 9

``Uji hipotesis apakah metode pembelian/Method berkaitan dengan tipe
rumah/ Type (dependen) atau tidak saling berkaitan (independen)!
Hypothesis:
• Ho : The two variables are independent
• Ha : The two variables are dependent.
``

In [132]:
from scipy.stats import chi2_contingency

In [162]:
stat,p,dof,expected = chi2_contingency(pd.crosstab(df['Method'],df['Type']).values)
if p < 0.05:
 print('The two variables are dependent')
else:
 print('The two variables are independent')

The two variables are dependent

### Nomor 10

``Uji hipotesis apakah rata-rata harga rumah (Price) antar Regionname berbeda
ataukah sama! Diasumsikan persyaratan statistik parametrik terpenuhi
Hipotesis:
• Ho : μ1 = μ2 = … = μk (Rata-rata harga rumah antar Regionname sama)
• Ha : Setidaknya ada satu pasang Regionname yang rata-rata harga
rumahnya tidak sama, tapi kita tidak tahu yang mana
``

In [163]:
from scipy.stats import f_oneway

In [187]:
region = df['Regionname'].value_counts().index.tolist()
rp = []
for i in region:
    rp.append(df[df['Regionname']==i]['Price'])
stat,pval = f_oneway(rp[0],rp[1],rp[2],rp[3],rp[4],rp[5],rp[6],rp[7])
if pval < 0.05:
    print('Setidaknya ada satu pasang Regionname yang rata-rata harga rumahnya tidak sama')
else:
    print('μ1 = μ2 = … = μk (Rata-rata harga rumah antar Regionname sama)')

Setidaknya ada satu pasang Regionname yang rata-rata harga rumahnya tidak sama